.miss-information-element {
    background-size:12px;
    width: 30px;
    height: 30px;
    margin-left:6px;
    background-color: #86aa3b;
    display: inline-block;
    margin-top:2px;
    border: medium solid green !important;
    border-radius: 50%;
}

.miss-information-image {
    padding: 5px;
    /*margin-left:6px !important;*/
}


/* Hover Box */
.hover-box-anchor {
    position: relative;
    display: block;
}

.hover-box-anchor .hover-box {
    display: flex;
    position: relative;
    visibility: hidden;
    background-color: white;
    border: 5px solid #1DA1F2;
    width: 80%;
    margin: auto;
    border-radius: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe   UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
}
.hover-box-anchor:hover .hover-box {
    visibility: visible;
}

.hover-box-anchor:hover .hover-box .article {
    width: 33.3333333%;
    border-radius: 5%;
    background-color: white;
    margin: 10px;
    font-size: 30px;
    height: 400px;
    text-align: center;
}

.hover-box-anchor:hover .hover-box .article-image {
    object-fit: cover;
    border-radius: 7.5px;
    height: 50%;
    width: 100%;
    box-shadow: 0px 8px 15px #696969;
}

.hover-box-anchor:hover .hover-box .article-header {
    padding: 10px;
    margin: 0px;
    font-weight: bold;
    font-style: italic;
    font-family: georgia,'times new roman',times,serif;
    color: black;
}

.hover-box-anchor:hover .hover-box .article-abstract {
    margin: 10px;
    padding: 0px;
    color: grey;
    font-size: 16px;
}
  


/* Tooltip */
.tooltip {
    position: relative;
    display: block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    border: 2px solid black;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltiptext {
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    overflow: scroll;
    display: block;
    overflow: auto;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip:hover .tooltiptext .hit1{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit2{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit3{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit1 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit2 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit3 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit1 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit2 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit3 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit1 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit2 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit3 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit1 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit2 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit3 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .size_of_img{
      width:90px
  }
