.miss-information-element {
    background-size:12px;
    width: 30px;
    height: 30px;
    margin-left:6px;
    background-color: #86aa3b;
    display: inline-block;
    margin-top:2px;
    border: medium solid green !important;
    border-radius: 50%;
}

.miss-information-image {
    padding: 5px;
    /*margin-left:6px !important;*/
}



/* Tooltip */
.tooltip {
    position: relative;
    display: block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    border: 2px solid black;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip:hover .tooltiptext .hit1{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit2{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit3{
      border-top: 1px solid #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit1 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit2 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit3 .image{
      left: 50%;
      top: 50%;
      background-color: black;
      margin: 0;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit1 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit2 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit3 .image .rounded-corners {
    border-radius: 10px;
  }
  
  .tooltip:hover .tooltiptext .hit1 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit2 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit3 .heading{
      text-align: center;
      margin: 2px;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      font-family: georgia,'times new roman',times,serif;
      color: white;
  }
  
  .tooltip:hover .tooltiptext .hit1 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit2 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .tooltip:hover .tooltiptext .hit3 .content{
      margin: 5px;
      font-size: 10px;
      font-family: "Georgia", serif;
      color: #E8E8E8;
  }
  
  .size_of_img{
      width:90px
  }
  